header {
    font-size: 20pt;
    font-family: fantasy;
    text-align: center;
    text-transform: uppercase;
}

#contenedor {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 5px;

}

#contenedor h3 {

    background-color: darkseagreen;
    margin: 0;
    padding: 3px;
    text-transform: uppercase;
}

#menu {
    background-color: darkseagreen;
    padding: 10px;

}

li {
    font-family: 'Gill Sans MT';
    text-transform: uppercase;
}

h5 {
    color: blue;
    text-transform: uppercase;
    font-family: serif;
    font-weight: bolder;
    font-size: 15pt;
    margin: 0%;
}

p {
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15pt;
}