* {
    box-sizing: border-box;
}

header {
    text-align: center;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#seccion1 img {
    width: 300px;
    height: 250px;
    border-radius: 50%;
    padding: 5px;

}

#seccion1>div {
    background-color: darkgoldenrod;
    border: solid black 2px;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

#seccion1>div:hover {
    transform: scale(105%)
}

#seccion2 {
    display: flex;

}


#carrito {
    background-color: darkgoldenrod;
    display: grid;
    width: 100%;
    height: 100%;
    border: solid black 2px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;

}

#carrito h2 {
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.712);
    color: rgb(65, 61, 61);
}