#datosUsuarios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contenedorUsuario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 5px purple outset;
    padding: 10px;
    margin: 20px;
    min-width: 400px;
    max-width: 500px;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
}
.contenedorUsuario:hover {
    transform: scale(1.1);
}
.nombreUsuario {
    grid-column: span 2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
    font-weight: 900;
    text-decoration: underline;
    background-color: bisque;
    padding: 20px 10px;
    margin: 0;
}

.empresa {
    text-align: center;
}

.subtitulo {
    font-style: oblique;
}

.bs {
    text-transform: capitalize;
}