 * {
     box-sizing: border-box;
 }

 body {
     margin: 0 10vw;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
 }

 header {
     background-color: rgb(85, 235, 190);
     display: flex;
     justify-content: right;
     padding: 10px;
     align-items: center;
 }

 header h1 {
     margin-right: 10px;
 }

 header img {
     width: 100px;
 }

 .contenedorNav {
     display: flex;
     list-style-type: none;
     justify-content: space-evenly;
 }

 main {
     display: grid;
     grid-template-columns: 75% 25%;
 }

 table {
     margin: 0 40px;
 }

 main tr:nth-child(even) {
     background-color: rgb(85, 235, 190);
 }

 main td,
 main th {
     border-top: solid 2px green;
     border-bottom: solid 2px green;
     padding: 10px;
 }

 form {
     display: flex;
     flex-direction: column;
     margin: 0 40px;
 }

 form * {
     margin: 3px 0;
 }

 footer {
     padding: 10px;
     border-bottom: 3px solid green;
     border-right: 3px solid green;

 }